.DS_Store
.vscode/
.android/
/Library/
/Desktop/
/Downloads/
.CFUserTextEncoding
.Trash/
.a.code.swp
.bash_profile
.bashrc
.bashrc.save
.cocoapods/
.config/
.dart-tool/
.dart/
.dartServer/
.emulator_console_auth_token
.flutter
.flutter-devtools/
.gem/
.gitconfig
.gradle/
.lesshst
.local/
.m2/
.mkshrc
.profile
.pub-cache/
.rvm/
.ssh/
.swiftpm/
.szhrc.swp
.viminfo
.zlogin
.zprofile
.zsh_history
.zsh_sessions/
.zshrc
.zshrc.swp

	.gitignore.save
	ADV_BASIC.code-profile
	AndroidStudioProjects/
	Applications/
	Documents/
	Flutter_project/
	Movies/
	Music/
	Pictures/
	Public/

